{% extends 'base_top.html' %}

{% block title %}
Pricing
{% endblock %}

{% block body %}

{% block title2 %}
        <link rel="shortcut icon" href="static/img/donat.ico" type="image/x-icon">
{% endblock %}

<main>
    <br><br><br><br>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h1 class="my-0 fw-normal">$0.49</h1>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">20000<small> points</small></h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>One-time increase</li>
              <li>in the number</li>
              <li>of points</li>
              <li>by 20000</li>
            </ul>
            <a href="/"> <button type="button" class="w-100 btn btn-lg btn-outline-primary">BUY</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h1 class="my-0 fw-normal">$1.5</h1>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">x3<small> points</small></h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Increases 3 times</li>
              <li>all points</li>
              <li>earned per day</li>
              <li>(from the date of purchase)</li>
            </ul>
            <a href="/"><button type="button" class="w-100 btn btn-lg btn-outline-primary">BUY</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h1 class="my-0 fw-normal">$0.99</h1>

          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">50000<small> points</small></h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>One-time increase</li>
              <li>in the number</li>
              <li>of points</li>
              <li>by 50000</li>
            </ul>
            <a href="/"><button type="button" class="w-100 btn btn-lg btn-outline-primary">BUY</button></a>
          </div>
        </div>
      </div>
    </div>


  </main>

{% endblock %}