<!DOCTYPE html>
<html >
<head>
	<meta content="text/html; charset=utf-8" />
	<title>Registration</title>
	<link type='text/css' rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    <link rel="shortcut icon" href="static/img/registration.ico" type="image/x-icon">
</head>
<body>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

<form action='/registration' id="login" method="POST">

    <h1 id="ff-proof" class="ribbon">Registration form &nbsp;&nbsp;</h1>


    <fieldset id="inputs">
        <input id="username" name="email" type="text" placeholder="Email" autocomplete="off"/>
        <input id="password" name="password" type="password" placeholder="Password" />
        <input id="repeat_password" name="repeat_password" type="password" placeholder="Repeat password" />
    </fieldset>

    <fieldset id="actions">
        <input type="submit" id="submit" value="Register"/>
    </fieldset>

</form>
</body>
</html>

